<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
</head>
<body>
<h2>用户登录</h2>
<form method="post" action="/login/login">
    <table align="center" border="1">
        <tr>
            <td>用户名：</td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>密码:</td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="登陆">
</form>
</body>
</html>